table.wardrobe {
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    /*border-style: hidden;*/
    /*empty-cells: hide;*/
    width: 900px
}
table.wardrobe td {
    width: 50%;
    border: 1px solid white;
}